Source: qtmoko
Section: comm
Priority: optional
Maintainer: Radek Polak <psonek2@seznam.cz>
Build-Depends:
 debhelper (>= 9),
 qt-embedded,
 libts-dev,
 libbluetooth-dev,
 libgps-dev,
 libspeexdsp-dev,
 libvorbis-dev
Standards-Version: 3.9.5
Homepage: https://github.com/radekp/qtmoko
Vcs-Git: https://github.com/radekp/qtmoko.git
Vcs-Browser: https://github.com/radekp/qtmoko

Package: qtmoko
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Smartphone environment based on QT Extended
 QtMoko provides a fully integrated phone stack plus smartphone environment
 for Linux based smartphones.
 .
 It is a fork of the discontinued Qt Extended product from Nokia.
 .
 Supported devices are those of the Openmoko community:
 * Neo 1973
 * Neo Freerunner
 * GTA04
